<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>도서 목록 | 공군의 책방</title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container-fluid mb-3">
      <div class="breadcrumb-toolbar">
        <nav aria-label="breadcrumb" style="flex-grow: 1;">
          <ol class="breadcrumb p-1 pl-2 pr-2">
            <li class="breadcrumb-item"><a href="/">홈</a></li>
            <li class="breadcrumb-item active" aria-current="page"><b>도서목록</b></li>
          </ol>
        </nav>
      </div>

      <div class="book-list">
        <h2 class="mb-3">도서 목록</h2>

        <table class="board-table table table-sm border-bottom">

          <thead class="thead-light">
            <tr>
              <th scope="col">제목</th>
              <th scope="col" class="author">저자</th>
              <th scope="col" class="publisher">출판사</th>
              <th scope="col" class="year">출판연도</th>
              <th scope="col" class="kdc">KDC</th>
              <th scope="col" class="type">종류</th>
            </tr>
          </thead>

          <tbody>
            <% if(books == null || books.length == 0){ %>
              <tr>
                <td colspan=2> 등록된 책이 없습니다 :( </td>
              </tr>
            <% } %>
            <% books.forEach(function(book) { %>
              <tr>
                <td>
                  <a href="/books/<%= book._id %><%= getPostQueryString() %>"><div class="ellipsis"><b><%= book.title %></b></div></a>
                </td>
                <td>
                  <a><%= book.author %></a>
                </td>
                <td>
                  <a><%= book.publisher %></a>
                </td>
                <td>
                  <a><%= book.year %></a>
                </td>
                <td>
                  <a><%= book.kdc %></a>
                </td>
                <td>
                  <a><%= book.type %></a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

      <% if(isAuthenticated && currentUser.group === "Admin"){ %>
        <a class="btn btn-primary" href="/uploadcsv">CSV업로드</a>
      <% } %>

      <nav>
        <%
          var offset = 2;
          var previousBtnEnabled = currentPage>1;
          var nextBtnEnabled = currentPage<maxPage;
        %>
        <ul class="pagination pagination-sm justify-content-center align-items-center h-100 mt-2">
          <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
            <a class="page-link" href="/books<%= getPostQueryString(false, {page:currentPage-1}) %>" <%= previousBtnEnabled?'':'tabindex=-1' %>>«</a>
          </li>
          <% for(i=1;i<=maxPage;i++){ %>
            <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
              <li class="page-item <%= currentPage==i?'active':'' %>"><a class="page-link" href="/books<%= getPostQueryString(false, {page:i}) %>"> <%= i %> </a></li>
            <% } else if(i==2 || i==maxPage-1){ %>
              <li><a class="page-link">...</a></li>
            <% } %>
          <% } %>
          <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
            <a class="page-link" href="/books<%= getPostQueryString(false, {page:currentPage+1}) %>" <%= nextBtnEnabled?'':'tabindex=-1' %>>»</a>
          </li>
        </ul>
      </nav>
      <form action="/books" method="get" class="post-index-tool">
        <div class="form-row">
          <div class="form-group col-3">
            <label>보기</label>
            <select name="limit" class="custom-select" onchange="this.parentElement.parentElement.parentElement.submit()">
              <option value="5" <%= limit==5?'selected':'' %>>5개씩 보기</option>
              <option value="10" <%= limit==10?'selected':'' %>>10개씩 보기</option>
              <option value="20" <%= limit==20?'selected':'' %>>20개씩 보기</option>
            </select>
          </div>
        </div>
        <input type="hidden" name="kdc" value="<%= kdc %>" />
        <input type="hidden" name="searchText" value="<%= searchText %>" />
      </form>
    </div>
  </body>
</html>