<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title><%= book.title %> | 공군의 책방</title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container-fluid mb-3">

      <div class="breadcrumb-toolbar">
        <nav aria-label="breadcrumb" style="flex-grow: 1; margin-right:0.5rem;">
          <ol class="breadcrumb p-1 pl-2 pr-2">
            <li class="breadcrumb-item"><a href="/">홈</a></li>
            <li class="breadcrumb-item"><a href="/books">도서목록</a></li>
            <li class="breadcrumb-item active" aria-current="page"><b><%= book.title %></b></li>
          </ol>
        </nav>
        <a class="btn btn-primary p-1 pl-2 pr-2" href="/books" style="margin-bottom: 1rem;">돌아가기</a>
      </div>

      <div class="p-3 bookinfo">
        <h5><%= book.title %></h5>
        <div class="book-detail"> 
          <div class="book-left">
            <div class="ml-2">
              <% if(book.cover == "") { %>
                <img src="/imgs/nocover" width="250px"/>
              <% } else { %>
                <img src="<%= book.cover %>" width="250px"/>
              <% } %>
            </div>
          </div>
          <div class="book-right">
            <div class="book-body p-2 border-bottom">
              <h6>저자</h6>
              <b><%= book.author %></b>
            </div>
            <div class="book-body p-2 border-bottom">
              <h6>출판사</h6>
              <b><%= book.publisher %></b>
            </div>
            <div class="book-body p-2 border-bottom">
              <h6>출판연도</h6>
              <b><%= book.year %></b>
            </div>
            <div class="book-body p-2 border-bottom">
              <h6>KDC</h6>
              <b><%= book.kdc %></b>
            </div>
            <% if(book.intro) { %>
              <div class="book-body p-2">
                <h6>소개</h6>
                <b><%= book.intro %></b>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <h4 class="mt-3">리뷰</h4>

      <% if(posts.length){ %> <!-- 1-1 -->
        <table class="board-table table table-sm border-bottom">

        <thead class="thead-light">
          <tr>
            <th scope="col">제목</th>
            <th scope="col" class="author">작성자</th>
            <th scope="col" class="date">날짜</th>
            <th scopr="col" class="like">추천수</th>
          </tr>
        </thead>

        <tbody>
          <% posts.forEach(function(post) { %>
            <tr>
              <td>
                <a href="/posts/<%= post._id %>"><div class="ellipsis"><%= post.title %></div></a>
              </td>
              <td class="author">
                <div class="ellipsis"><%= post.author ? post.author.username : "" %></div>
              </td>
              <td class="date">
                <span data-date="<%= post.createdAt %>"></span>
              </td>
              <td class="like">
                <div class="ellipsis"><%= post.likes ? post.likes.toString().split(",").length : "0" %></div>
              </td>
            </tr>
          <% }) %>
        </tbody>

      </table>
      <% } %>

      <div class="mt-3"> <!-- 2 -->
        <a class="btn btn-primary" href="/posts/new?bookId=<%= book._id %>">작성</a>
      </div>

    </div>
  </body>
</html>